.subtitle {
    color: #FF7000;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    letter-spacing: 3px;
}


@media screen and (max-width: 940px) {
    .subtitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 420px) {
    .subtitle {
        font-size: 8px;
    }
}
