.text-content {
    max-width: 90%;

    font-size: 1rem;
    line-height: 18px;
    text-align: center;
    font-weight: 400;
    font-style: normal;

    color: rgba(255, 255, 255, 0.9);
}

.small {
    font-size: 12px;
}

.align {
    text-align: left;
}

@media screen and (max-width: 940px) {
    .text-content {
        font-size: 12px;
    }

    .small {
        font-size: 8px;
    }
}

@media screen and (max-width: 420px) {
    .text-content {
        font-size: 10px;
    }

    .small {
        font-size: 7px;
    }
}
