.student-box {
    width: 100%;
    min-height: 100vh;
    background-color: #06071B;
    padding: 4rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 4rem;
}

.student-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
