.header__ai {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 59px;

    background: #06071B;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.icon__ai {
    height: 30px;
    min-width: 30px;
    color: #ACACAC;
}

@media screen and (max-width: 420px){
    .header__ai {
        gap: 3rem;
    }

    .icon__ai {
        height: 20px;
        min-width: 20px;
    }
}

@media screen and (max-width: 940px){
    .header__ai {
        gap: 3rem;
    }

    .icon__ai {
        height: 25px;
        min-width: 25px;
    }
}
